modules = ["nodejs-20", "python-3.11"]
run = "node server/index.js"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "npm install && node server/index.js"]
build = ["sh", "-c", "npm install"]

[nix]
packages = ["file", "zip"]
